.search {
    position: relative;

    .search-pic {
        position: absolute;
        top: 14px;
        left: 16px;
        width: 26px;
        height: 26px;
    }

    .remove {
        position: absolute;
        top: 14px;
        right: 17px;
        cursor: pointer;

        img {
            width: 27px;
            height: 27px;
        }
    }

    .input {
        width: 250px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        color: #181818;
        border: 1px solid #a6a6a6;
        border-radius: 27px;
        padding: 15px 17px 15px 50px;
        background: #ffffff00;
        font-family: 'Jetbrains Mono', sans-serif;
        transition: all .3s;

        &:active,
        &:focus {
            width: 300px;
            border: 1px solid #FE5F1E;
            outline: 0;
            outline-offset: 0;
        }

        &::placeholder {
            color: #a6a6a6;
        }
    }
}