.сart {
    padding: 95px 0;
    
    &__content {
        width: 75%;
        margin: 0 auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .heading {
        display: flex;
        align-items: center;
        gap: 17px;

        h3 {
            margin-top: 2px;
            font-weight: 700;
            font-size: 36px;
        }   
    }

    .clear {
        display: flex;
        align-items: center;
        gap: 9px;
        background: none;
        border: none;
        cursor: pointer;
        transition: all .2s;
        
        span {
            margin-top: 2px;
            font-weight: 400;
            font-size: 16px;
            color: #9c9c9c;
            transition: all .3s;
        }
        
        &:hover {
            span {
                color: #575757;
            }
        }
    }

    &__list {
        min-height: 700px;
        display: flex;
        flex-direction: column;
    }

    &__products {
        margin-top: 30px;
        flex: 1;
    }

    .total {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-pieces, &-price {
            font-weight: 400;
            font-size: 22px;
        }

        &-pieces {
            span {
                font-weight: 800;
            }
        }

        &-price {
            span {
                font-weight: 800;
                color: #fe5f1e;
            }
        }
    }

    .buttons {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            padding: 15px 35px;
            border: 2px solid #9c9c9c;
            border-radius: 40px;
            display: flex;
            align-items: center;
            font-weight: 400;
            font-size: 16px;
            color: #9c9c9c;
            cursor: pointer;
            transition: all .3s;
            
            img {
                transition: all .3s;
                margin-right: 15px;
            }

            &:hover {
                img {
                    transform: translateX(-10px);
                }
            }

            &:active {
                transform: scale(.95);
            }
        }

        .right {
            padding: 15px 40px;
            border: 2px solid #fe5f1e;
            border-radius: 40px;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 16px;
            color: #fe5f1e;
            cursor: pointer;
            transition: all .3s;

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1);
            }
        }
    }
}