.Home {
    .content-top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 1280px) {
            flex-direction: column;
            gap: 20px;
            align-items: flex-start;
        }
    }
    
    .heading {
        margin-top: 32px;
        font-weight: 700;
        font-size: 42px;
    }
    
    .content-page {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, 280px);
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 50px 28px;
        justify-content: center;
    }
}


