.header {
    padding: 50px 0 50px;
    border-bottom: 1px solid #a6a6a6;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        gap: 17px;

        &__pic {
            cursor: pointer;
        }

        &__title {
            font-weight: 800;
            font-size: 28px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            color: #7B7B7B;
            margin-top: -5px;
        }
    }

    .button-cart {
        padding: 15px 23px;
        display: flex;
        align-items: center;
        border: 2px solid #fe5f1e;
        border-radius: 30px;
        font-weight: 700;
        font-size: 18px;
        color: #fe5f1e;
        cursor: pointer;
        transition: all .2s;

        &__price {
            display: flex;
            gap: 8px;
        }

        &__delimiter {
            height: 25px;
            width: 1px;
            background: #fe5d1e4f;
            margin-left: 13px;
            margin-right: 13px;
            transition: all .5s;
        }

        &__total {
            display: flex;
            gap: 8px;
            align-items: center;

            img {
                margin-bottom: 3px;
            }
        }

        &:hover {
            transform: translateX(-5px);
        }

        &:active {
            transform: scale(.9);
        }
    }
}