.header {
    padding: 40px 0;
    border-bottom: 1px solid #a6a6a6;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        gap: 17px;

        &__title {
            font-weight: 800;
            font-size: 44px;
            line-height: 44px;
            margin-bottom: 3px;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 16px;
            color: #3e3e3e;
            margin-top: -5px;
        }
    }

    .button-cart {
        padding: 15px 23px;
        display: flex;
        align-items: center;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        border-radius: 30px;
        font-weight: 700;
        font-size: 18px;
        color: #181818;
        cursor: pointer;
        transition: all .2s;

        &__price {
            display: flex;
            gap: 8px;
        }

        &__delimiter {
            height: 25px;
            width: 1px;
            background: #282828b0;
            margin-left: 13px;
            margin-right: 13px;
            transition: all .5s;
        }

        &__total {
            display: flex;
            gap: 8px;
            align-items: center;

            img {
                margin-bottom: 3px;
                width: 20px;
            }
        }

        &:hover {
            transform: scale(.95);
        }

        &:active {
            transform: scale(.9);
        }
    }
}