.errorPage {
    padding: 150px 0;
    text-align: center;

    .smile {
        font-size: 78px;
        line-height: 78px;
    }

    .error {
        font-size: 68px;
        font-weight: 700;
        line-height: 68px;
        margin-top: 30px;
    }

    .text {
        margin-top: 30px;
        font-size: 22px;
        line-height: 22px;
    }
}