.categories {
    display: flex;
    gap: 10px;

    li {
        border-radius: 30px;
        border: 2px solid #dbdbdb;
        background: #fff;
        padding: 12px 34px;
        font-weight: 700;
        font-size: 16px;
        transition: all .2s;
        cursor: pointer;
        
        &:hover {
            background: #ededed;
            border: 2px solid #ededed;
        }

        &.active {
            border: 2px solid #FE5F1E;
            color: #FE5F1E;

            &:hover {
                background: #fff;
            }
        }
    }
}