.App {
    max-width: 1400px;
    background: rgb(255, 234, 185);
    margin: 0 auto; 
    overflow: hidden;
    // border: 20px solid #ffa14f;
    box-shadow: rgba(0, 0, 0, 0.39) 0px 10px 20px, rgba(0, 0, 0, 0.33) 0px 6px 6px;
    border-radius: 50px;

    .content {
        padding: 50px 0 50px;
        height: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

