.App {
    max-width: 1400px;
    background: #fff3d5eb;
    margin: 0 auto; 
    overflow: hidden;
    border: 20px solid #fdc19a;
    border-radius: 50px;

    .content {
        padding: 50px 0 50px;
        height: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

