.App {
    max-width: 1400px;
    min-height: 50vh;
    background: rgb(255, 241, 207);
    margin: 0 auto; 
    overflow: hidden;
    border-radius: 50px;
    border: 20px solid #ffa348c2;

    .content {
        padding: 50px 0 50px;
        height: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }
}

