.notfound {
    padding: 150px 0;
    text-align: center;

    .smile {
        font-size: 78px;
        line-height: 78px;
    }

    .error {
        font-size: 68px;
        font-weight: 700;
        line-height: 68px;
        margin-top: 30px;
    }

    .text {
        margin-top: 30px;
        font-size: 22px;
        line-height: 22px;
    }

    .home {
        width: 210px;
        margin: 90px auto 0;
        padding: 15px 30px;
        border: 2px solid #fe5f1e;
        border-radius: 40px;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        color: #fe5f1e;
        cursor: pointer;
        transition: all .3s;
        display: flex;
        justify-content: center;

        &:hover {
            transform: scale(1.05);
        }

        &:active {
            transform: scale(1);
        }
    }
}